@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scroll-margin-top: 5rem;
}

@keyframes error {
  0% {
    transform: translateX(-7px);
  }
  25% {
    transform: translateX(7px);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(7px);
  }
}

.error {
  animation: error ease-in-out 0.3s;
}
